:root {
  --main-color: #dac6ae;
  --font-color: #493117;
  --secondary-color: #fffbe9;
  --auxiliar-color: #ceab93;
  --black-color: #0a0a0a;
  --white-color: #f9f9f9;
  --main-color-opacity80: rgba(218, 198, 174, 0.8);
}

html {
  box-sizing: border-box;
  /* font-size: 16px; */
  font-family: sans-serif;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: var(--main-color);
  color: var(--font-color);
  text-align: center;
  font-family: "Carattere", cursive;
}

.container2 {
  height: 100vh;
  width: 100%;
  perspective: 3px;
}

.container {
  margin: 0 auto;
  height: 100vh;
  max-width: 1400px;
  width: 100%;
  padding: 1rem;
}

.kenburns-top-left {
  -webkit-animation: kenburns-top-left 5s ease-out both;
  animation: kenburns-top-left 5s ease-out both;
}

/*menu*/

h1 {
  font-size: 6vw;
}

h2 {
  font-size: 4vw;
  margin: 2rem 0;
}

p {
  font-size: 4vw;
}

.header-section {
  font-size: 4.5vw;
}

/*header*/
header img {
  height: 32px;
  width: auto;
}

header {
  width: 100%;
  height: 4rem;
  background-color: var(--auxiliar-color);
  position: fixed;
  bottom: 0;
  padding: 0.25rem 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

/*main*/

.main {
  background-image: url(assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 3rem 0;
}

.parallax-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  height: inherit;
}

.parallax-content img {
  max-width: 550px;
  margin: 0 auto;
  animation-name: emphasis;
  animation-duration: 4s;
}

.parallax-content > * {
  margin: 2rem auto;
  width: 100%;
}

.parallax-content h1 {
  animation-name: to-right;
  animation-duration: 4s;
}

.parallax-content p {
  text-align: left;
  font-weight: bold;
  animation-name: to-right;
  animation-duration: 4s;
  animation-delay: 0.5s;
}

/*products*/
.products {
  background-color: var(--main-color-opacity80);
  height: auto;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.card-rows {
  cursor: pointer;
}

.left-out-row {
  opacity: 0.5;
}

.card-product img {
  width: 60%;
}

.left-blur {
  box-shadow: -22px 24px 8px -2px rgba(0, 0, 0, 0.89);
  -webkit-box-shadow: -22px 24px 8px -2px var(--secondary-color);
  -moz-box-shadow: -22px 24px 8px -2px var(--secondary-color);
}

.right-blur {
  box-shadow: 22px 24px 8px -2px rgba(0, 0, 0, 0.89);
  -webkit-box-shadow: 22px 24px 8px -2px var(--secondary-color);
  -moz-box-shadow: 22px 24px 8px -2px var(--secondary-color);
}

/*Contact*/
.contact {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 4rem;
}

.card {
  background-color: var(--main-color);
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 5px;
}

.card p {
  /* font-size: 18px; */
  margin: 1rem 0;
}

/* */

/*menu*/

.menu {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s ease-in-out;
  transform: translate(100%);
  display: none;
}

.active-section {
  text-decoration: underline;
}

.is-active {
  transform: translate(0);
  display: flex;
}

a {
  color: var(--font-color);
  font-size: 32px;
  text-decoration: none;
}

/*Icons*/

.puntadas {
  width: 40%;
  margin: 0;
}

div h2 {
  margin-bottom: -20px;
}

.compact {
  display: flex;
  justify-content: center;
}

.icons {
  width: 3rem;
  cursor: pointer;
}

@keyframes to-right {
  from {
    transform: translate(-100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes emphasis {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (min-width: 900px) {
  h2 {
    font-size: 3vw;
  }

  p {
    font-size: 2.7vw;
  }

  header {
    top: 0;
  }

  .cards {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transform: translate(0);
    width: 80%;
    margin: 0 auto;
    height: 4rem;
    z-index: 9999;
    background-color: transparent;
  }

  .products {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .products * {
    text-align: center;
  }

  .menu a {
    color: var(--secondary-color);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-25 16:56:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top-left
 * ----------------------------------------
 */

@-webkit-keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
    transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
    transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}
@keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
    transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
    transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}
