:root {
  --main-color: #dac6ae;
  --font-color: #493117;
  --secondary-color: #fffbe9;
  --auxiliar-color: #ceab93;
  --black-color: #0a0a0a;
  --white-color: #f9f9f9;
  --main-color-opacity80: rgba(218, 198, 174, 0.8);
}

html {
  box-sizing: border-box;
  /* font-size: 16px; */
  font-family: sans-serif;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: var(--main-color);
  color: var(--font-color);
  text-align: center;
  font-family: "Carattere", cursive;
}

.container2 {
  height: 100vh;
  width: 100%;
}

.container {
  margin: 0 auto;
  height: 100vh;
  max-width: 1400px;
  width: 100%;
  padding: 1rem;
}

h1 {
  font-size: 7vw;
}

h2 {
  font-size: 6vw;
  margin: 2rem 0;
}

p {
  font-size: 5vw;
}

/*header*/
header img {
  height: 32px;
  width: auto;
}

header {
  width: 100%;
  height: 4rem;
  background-color: var(--auxiliar-color);
  position: fixed;
  bottom: 0;
  padding: 0.25rem 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

/*main*/

.main {
  background-attachment: fixed;
  background-image: url(assets/images/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 0 3rem 0;
}

.parallax-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  height: inherit;
}

.parallax-content img {
  max-width: 550px;
  margin: 0 auto;
  animation-name: emphasis;
  animation-duration: 5s;
}

.parallax-content > * {
  margin: 2rem auto;
  width: 100%;
}

.parallax-content h1 {
  animation-name: to-right;
  animation-duration: 5s;
}

.parallax-content p {
  text-align: left;
  font-weight: bold;
  animation-name: to-right;
  animation-duration: 6s;
}

/*products*/
.products {
  background-image: url(assets/images/texture1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}

.productos-content {
  /* background-color: rgba(188, 171, 148, 0.6); */
  background-color: rgba(204, 173, 132, 0.6);
  width: 100%;
  max-width: 1400px;
  height: 100%;
  padding: 1rem;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cards {
  display: flex;
  flex-direction: column;
}

.left-out-row {
  opacity: 0.5;
}

.left-blur {
  box-shadow: -22px 24px 8px -2px rgba(0, 0, 0, 0.89);
  -webkit-box-shadow: -22px 24px 8px -2px var(--secondary-color);
  -moz-box-shadow: -22px 24px 8px -2px var(--secondary-color);
}

.right-blur {
  box-shadow: 22px 24px 8px -2px rgba(0, 0, 0, 0.89);
  -webkit-box-shadow: 22px 24px 8px -2px var(--secondary-color);
  -moz-box-shadow: 22px 24px 8px -2px var(--secondary-color);
}

/*Contact*/
.contact {
  background-image: url(assets/images/texture2.webp);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 4rem;
}

.card {
  background-color: var(--main-color-opacity80);
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 5px;
}

.card p {
  /* font-size: 18px; */
  margin: 1rem 0;
}

.card-product {
  position: relative;
}

/* SLIDER  */

.slider {
  position: relative;

  width: 100%;
}

.slider-slides {
  position: relative;
  width: auto;
  height: 40vh;
  align-items: center;
}
.slider-slide {
  width: inherit;
  height: 100%;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slider-slide img {
  border-radius: 10px;
}

.slider-btns {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
}

.active {
  animation-name: emphasis;
  animation-duration: 1s;
  text-align: center;
  opacity: 1;
  visibility: visible;
  position: relative;
}

.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: center;
}

/* */

/*menu*/

.menu {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s ease-in-out;
  transform: translate(100%);
  display: none;
  z-index: 998;
}

.active-section {
  text-decoration: underline;
}

.is-active {
  transform: translate(0);
  display: flex;
}

a {
  color: var(--font-color);
  font-size: 32px;
  text-decoration: none;
}

/*Icons*/

.puntadas {
  width: 40%;
  margin: 0;
}

div h2 {
  margin-bottom: -20px;
}

.compact {
  display: flex;
  justify-content: center;
}

.icons {
  width: 6vw;
  cursor: pointer;
  margin: 0 0.5rem;
}

.header-animation {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-icon {
  font-size: 6vw;
  animation-name: rollAndSet;
  animation-duration: 5s;
}

.header-test {
  display: inline;
  margin: 0;
}

.white-header {
  color: var(--secondary-color);
}

.outer-row {
  animation-name: attenuateColor;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.inner-row {
  animation-name: attenuateColor;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes attenuateColor {
  0% {
    fill: gray;
    opacity: 1;
  }
  50% {
    fill: white;
    opacity: 0.4;
  }

  100% {
    fill: gray;
    opacity: 1;
  }
}

@keyframes to-right {
  from {
    transform: translate(-150%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes emphasis {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rollAndSet {
  0% {
    transform: scale(2) translate(-250%) rotate(-540deg);
  }

  100% {
    transform: scale(1) translate(0) rotate(0);
  }
}

@keyframes turn {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(50%);
  }
}

@media screen and (min-width: 700px) {
  h2 {
    font-size: 3vw;
  }

  p {
    font-size: 2.5vw;
  }

  .icons {
    width: 3vw;
  }

  header {
    top: 0;
  }

  .cards {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transform: translate(0);
    width: 80%;
    margin: 0 auto;
    height: 4rem;
    z-index: 9999;
    background-color: transparent;
  }

  .products {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .products * {
    text-align: center;
  }

  .menu a {
    color: var(--secondary-color);
  }

  .slider-slide img {
    max-width: 90%;
  }

  .hamburger-btn {
    opacity: 0;
    visibility: hidden;
  }
}
